// c - colors

c1 = hsla(160, 50%, 50%, 1)
c2 = hsla(80, 50%, 50%, 1)
c3 = hsla(240, 50%, 50%, 1)



// ---------------------------



// f -fonts

f1 =
    font-family: serif
    font-weight: normal

f2 =
    font-family: sans-serif
    font-weight: normal



// ---------------------------



// fa - font awesome

fa =
    font-family: 'Font Awesome 5 Free'
fas =
    font-family: 'Font Awesome 5 Free'
    font-weight: 900
far =
    font-family: 'Font Awesome 5 Free'
    font-weight: 500
fab =
    font-family: 'Font Awesome 5 Brands'



// ---------------------------



// bp - breakpoints

bpDes = 1600px
bpLap = 1440px
bpTab = 1200px
bpMob = 992px



// ---------------------------



// bpfs - breakpoint fontsizes

bpfsDes = 18px
bpfsLap = 16px
bpfsTab = 14px
bpfsMob = 12px



// ------------------------------



// an - animation seconds

an(n)
    n * .1s



// ------------------------------



// p - padding; m - margin; t, r, b, l - top, right, bottom, left

plr(a, b = a)
    padding-left a
    padding-right b

ptb(a, b = a)
    padding-top: a
    padding-bottom b

mlr(a, b = a)
    margin-left a
    margin-right b

mtb(a, b = a)
    margin-top a
    margin-bottom b

ml(a)
    margin-left a

mr(a)
    margin-right a

pl(a)
    padding-left a

pr(a)
    padding-right a



// ------------------------------



// sz - size

s(n)
    n / 18rem



// ------------------------------



psFl =
    position: absolute
    content: ''

lt0 =
    left 0
    top 0

wh100 =
    width 100%
    height 100%

psFlFill =
    {psFl}
    {lt0}
    {wh100}



// ------------------------------



ab = 
    align-items: flex-start
    align-content: flex-start

ac =
    align-items: center
    align-content: center

ae = 
    align-items: flex-end
    align-content: flex-end

as =
    align-items: stretch
    align-content: stretch

jb =
    justify-items: flex-start
    justify-content: flex-start

jc =
    justify-items: center
    justify-content: center

je =
    justify-items: flex-end
    justify-content: flex-end

js =
    justify-items: stretch
    justify-content: stretch