include variables

include blocks/b-header
include blocks/page-header
include blocks/b-footer
include blocks/main-news
include blocks/university
include blocks/faculty
include blocks/news
include blocks/services