@import '_partials/variables'
.a-footer 
    background #03234A
    padding s(40) 0
    color #fff 

    .f-item 
        transition unset
        color #fff 
        background linear-gradient(260.65deg, #001E42 0.99%, #001A38 98.99%)
        margin-right s(15)
        padding s(21) s(20) 
        display flex !important
        align-items center

        .text   
            margin-left s(20)
            max-width s(400)
    
    .container .row:nth-child(1) 
        margin s(60) 0 s(40) 0
        align-items center

    .f-col
        width s(203)

    .col 
        margin-right s(40)

    

    .small-header 
        
        color #fff
        margin-bottom s(18)

    .container .row:nth-child(2) 
        a
            color #fff   
            font-size: s(14);
            line-height: s(17); 
            margin-bottom s(13) 
            display table   
            &:hover 
                opacity .5

        .f-col 
            margin-right s(20)

    .f-small-col
        max-width s(140)
        margin-left s(40)

    .footer-footer 
        margin-top s(84)
        text-align center

.social-link 
    margin-right s(20)

    &:hover 
        opacity .5