@import '_partials/variables'

.a-header
    background radial-gradient(25.99% 170.33% at 25.99% 50%, #03234A 0%, #021B38 100%)
    color #ffffff
    min-height 100vh
    position relative
    overflow hidden
    z-index 1
    display flex
    flex-direction column

    .container 
        position relative
        display flex
        flex-direction column
        flex-grow 1

        .header-carousel 
            display flex
            flex-direction column
            flex-grow 1
            outline: none !important

            .slick-list ,
            .slick-track
                    display flex
                    flex-grow 1

            .h-carousel-item 
                display flex
                flex-grow 1
                align-items: center

                
    &:after,
    &:before
        content ''
        z-index -1
        border-radius 50%
        position absolute
    
    &:before 
        background #042751
        width: s(1237);
        height: s(1237);
        left: 27%;
        top: s(-205);
    
    &:after 
        width: s(827);
        height: s(827);
        left: 38%;
        top: 2%;
        background: radial-gradient(50% 50% at 50% 50%, #003779 0%, #032B5A 100%);

.h-carousel-item
    outline: none !important
    
.carousel-text
    max-width s(527)

    .text 
        max-width s(364)
        margin s(26) 0 s(32) 0

.carousel-img
    position absolute
    right -10%
    bottom 0px
    pointer-events none

    img 
        pointer-events none

   
.slick-dots 
    position absolute
    left 0 
    bottom 10%
    list-style none 
    display flex

    li 
        margin-right 17px
        cursor pointer
        button 
            font-size 0px
            width s(8)
            height s(11)
            border none 
            outline none 
            cursor pointer
            border-radius 50%
            background #fff
    
    li.slick-active 
        button  
            transform scale(1.2)
            height 14px
            background #10141D
            border 1px solid #fff

header .slick-active 
    .header,
    .text,
    .btn 
        opacity 0
        animation fadeIn .7s 1s forwards

    .carousel-img img 
        opacity 0
        animation fadeInUp .7s 0s forwards

    .text 
        animation-delay 1.3s

    .btn 
        animation-delay 1.6s

.header-content 
    display flex
    flex-grow 1
    flex-direction column
    position relative

.h-carousel-prev ,
.h-carousel-next
    position absolute
    top 50%
    left -100px
    z-index 99
    transform translate(-50%,-50%)
    padding s(20) s(22) s(20) s(25)
    cursor pointer
    border-radius 50%
    background radial-gradient(50% 50% at 50% 50%, #003779 0%, #032B5A 100%)

.h-carousel-next 
    left unset 
    right -100px

