@import '_partials/variables'

.faculty 
    padding-top s(114)
    padding-bottom s(136)

.f-gird
    margin-top s(52)

    .faculty-text 
        padding s(30) s(30) 
    .medium-header 
        max-width s(290)
        margin-bottom s(20)