@import '_partials/variables'

.banner 
    height s(556)
    

.purple-section 
    .main-news
        padding s(46) 0 s(120)  0

@media screen and (max-width bpMob)
    .banner 
        height 258px !important