@import '_partials/variables'

.about-university 
    margin s(125) 0 s(114) 0 
    background #ECF0FB

    .row 
        position relative   
        padding s(61) 0 s(111)  

    .university-text 
        max-width s(458)

    .university-img 
        position absolute
        height 100%
        top 0
        right 0
        transform scale(1.1)
        border-radius 5px
        box-shadow -9px 37px 100px rgba(0,0,0,0.27)
    .text 
        line-height 30px
        margin-bottom s(34)
