extends _components/layouts/l-public

append variables
    -
        var page = {
            name: 'facultets-list',
            pageTitle: 'Факультеты и кафедры',
            pageParents: [
                {
                    name: 'Главная',
                    href: '/'
                },
                {
                    name: 'Структура ВУЗа',
                    href: '/'
                }
            ],
            facultets: [
                {
                    name: 'Общеобразовательный факультет',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Русский язык и межкультурная коммуникация»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Сервис и туризм»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Философия и культурология»',
                            href: '#'
                        }
                    ]
                },
                {
                    name: 'Железнодорожное машиностроение',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Русский язык и межкультурная коммуникация»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Сервис и туризм»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Философия и культурология»',
                            href: '#'
                        }
                    ]
                },
                {
                    name: 'Автотранспортная техника',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        }
                    ]
                },
                {
                    name: 'Авиационная промышленность',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Русский язык и межкультурная коммуникация»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Сервис и туризм»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Философия и культурология»',
                            href: '#'
                        }
                    ]
                },
                {
                    name: 'Управление транспортом',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Русский язык и межкультурная коммуникация»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Сервис и туризм»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Философия и культурология»',
                            href: '#'
                        }
                    ]
                },
                {
                    name: 'Электротехника и компьютерная инженерия',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Русский язык и межкультурная коммуникация»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Сервис и туризм»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Философия и культурология»',
                            href: '#'
                        }
                    ]
                },
                {
                    name: 'Экономика',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Русский язык и межкультурная коммуникация»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Сервис и туризм»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Философия и культурология»',
                            href: '#'
                        }
                    ]
                },
                {
                    name: 'Строительство',
                    img: 'faculty1.png',
                    cafedras: [
                        {
                            name: 'Кафедра «Лингводидактика»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Политология, история и социальные технологии»',
                            href: '#'
                        },
                        {
                            name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                            href: '#'
                        }
                    ]
                },


            ]
        }

append styles
    each fontURL in assets.page.cafedra.styles
        link(rel='stylesheet' href= fontURL)

append scripts
    each script in assets.page.news.scripts
        script(src=script)

append content
    .banner(style="background-image: url(/images/people-banner.png);")
        .overlay 
            .container 
                h1.header= page.pageTitle

    .the-content.container
        each faculty in page.facultets
            .faculty-card 
                h2.medium-header= faculty.name 
                    i.fas.fa-angle-double-right.badge 
                img(src="images/"+faculty.img).faculty-img
                each cafedra in faculty.cafedras
                    a(href=cafedra.href, class="blue-text-btn blue-text-btn-type")= cafedra.name
                