extends ../skeleton

append variables
    -
        var layout = {
            name: 'public'
        }

append styles
    each fontURL in assets.layout.public.styles 
        link(rel='stylesheet' href= fontURL)

append scripts
    each scriptURL in assets.layout.public.scripts 
        script(src= scriptURL type='text/javascript' defer)

append body

    header.a-header
        +b-header

    main.a-content
        block content 

    footer.a-footer
        +b-footer