.faculty {
  padding-top: 6.333333333333333rem;
  padding-bottom: 7.555555555555555rem;
}
.f-gird {
  margin-top: 2.888888888888889rem;
}
.f-gird .faculty-text {
  padding: 1.666666666666667rem 1.666666666666667rem;
}
.f-gird .medium-header {
  max-width: 16.11111111111111rem;
  margin-bottom: 1.111111111111111rem;
}
